---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Run Journal</title>
  </head>
  <body>
    <h1>Run Journal</h1>

    <div>Latest run</div>

    <div>Grouped Runs</div>

    <div>Run Workouts | Run Events</div>
  </body>
</html>
