<footer
  class="tw-border-t tw-border-black tw-border-dashed tw-text-center tw-py-4 tw-mt-8"
>
  <div>
    <a href="/tags/Workout">All Workouts</a> | <a href="/tags/Event"
      >All Events</a
    >
  </div>
</footer>
