---
const allPosts = await Astro.glob("./../pages/runs/**/*.md");
/** sort posts by filename */
allPosts.sort((a, b) => {
  // to make sure that latest filename shows up first
  const [, , yearA, runNumberA] = a.url.split("/");
  const [, , yearB, runNumberB] = b.url.split("/");

  return (
    parseInt(`${yearB}${runNumberB.padStart(3, "0")}`) -
    parseInt(`${yearA}${runNumberA.padStart(3, "0")}`)
  );
});
/** END - sort posts by filename */
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
const tagsToRemove = ["Workout", "Event"];
const filteredTags = tags.filter((tag) => {
  return tagsToRemove.indexOf(tag) === -1;
});
---

<div class="tw-container tw-mx-auto">
  <h2 class="tw-font-black tw-text-4xl tw-mb-2 tw-mt-8">Grouped Runs</h2>

  <div
    class="tw-grid tw-grid-cols-1 md:tw-grid-cols-3 tw-gap-2.5 tw-justify-center"
  >
    {
      filteredTags.map((tag) => (
        <a
          class="tw-border tw-border-black tw-border-solid tw-text-center tw-p-4 hover:tw-bg-black hover:tw-text-white tw-transition-all tw-duration-300 !tw-no-underline"
          href={`/tags/${tag}`}
        >
          {tag}
        </a>
      ))
    }
  </div>
</div>
