---
import RunDetails from "./../components/RunDetails.astro";
let allPosts = await Astro.glob("./../pages/runs/**/*.md");
allPosts.sort((a, b) => {
  // to make sure that latest filename shows up first
  return parseInt(b.url.split("/").pop()) - parseInt(a.url.split("/").pop());
});
const run = {
  title: allPosts[0].frontmatter.title,
  date: allPosts[0].frontmatter.date,
  hoursOfSleep: allPosts[0].frontmatter.hoursOfSleep,
  timeElapsed: allPosts[0].frontmatter.timeElapsed,
  distanceCovered: allPosts[0].frontmatter.distanceCovered,
  averagePace: allPosts[0].frontmatter.averagePace,
  tags: allPosts[0].frontmatter.tags,
};
const content = await allPosts[0].rawContent();
---

<div class="tw-container tw-mx-auto">
  <RunDetails set:html={content} run={run} />
</div>
