---
import RunLayout from "../layouts/RunLayout.astro";
import RunDetails from "./../components/RunDetails.astro";
let allPosts = await Astro.glob("./../pages/runs/**/*.md");
allPosts = allPosts.reverse();
allPosts.sort((a, b) => {
  // to make sure that latest filename shows up first
  const [, , yearA, runNumberA] = a.url.split("/");
  const [, , yearB, runNumberB] = b.url.split("/");

  return (
    parseInt(`${yearB}${runNumberB.padStart(3, "0")}`) -
    parseInt(`${yearA}${runNumberA.padStart(3, "0")}`)
  );
});
const run = {
  title: allPosts[0].frontmatter.title,
  date: allPosts[0].frontmatter.date,
  hoursOfSleep: allPosts[0].frontmatter.hoursOfSleep,
  timeElapsed: allPosts[0].frontmatter.timeElapsed,
  distanceCovered: allPosts[0].frontmatter.distanceCovered,
  averagePace: allPosts[0].frontmatter.averagePace,
  tags: allPosts[0].frontmatter.tags,
};
const content = await allPosts[0].compiledContent();
---

<div class="tw-max-w-[700px] tw-mx-auto">
  <RunDetails set:html={content} run={run} />
</div>
