---
import RunDetails from "./../components/RunDetails.astro";
const allPosts = await Astro.glob("./../pages/runs/**/*.md");

const run = {
  title: allPosts[0].frontmatter.title,
  date: allPosts[0].frontmatter.date,
  hoursOfSleep: allPosts[0].frontmatter.hoursOfSleep,
  timeElapsed: allPosts[0].frontmatter.timeElapsed,
  distanceCovered: allPosts[0].frontmatter.distanceCovered,
  averagePace: allPosts[0].frontmatter.averagePace,
  tags: allPosts[0].frontmatter.tags,
};

const content = await allPosts[0].rawContent();
---

<div class="tw-container tw-mx-auto">
  <RunDetails run={run}>
    {content}
  </RunDetails>
</div>
