---
import RunDetails from "./../components/RunDetails.astro";
const allPosts = await Astro.glob("./../pages/runs/**/*.md");
allPosts.sort((a, b) => {
  // to make sure that latest filename shows up first
  return parseInt(b.url.split("/").pop()) - parseInt(a.url.split("/").pop());
});
const run = {
  title: allPosts[0].frontmatter.title,
  date: allPosts[0].frontmatter.date,
  hoursOfSleep: allPosts[0].frontmatter.hoursOfSleep,
  timeElapsed: allPosts[0].frontmatter.timeElapsed,
  distanceCovered: allPosts[0].frontmatter.distanceCovered,
  averagePace: allPosts[0].frontmatter.averagePace,
  tags: allPosts[0].frontmatter.tags,
};
const maxNumberOfRuns = 4;
const slicedRuns = allPosts.slice(1, maxNumberOfRuns + 1);

const previousRuns = slicedRuns.map((element) => {
  return {
    title: element.frontmatter.title,
    date: element.frontmatter.date,
    hoursOfSleep: element.frontmatter.hoursOfSleep,
    timeElapsed: element.frontmatter.timeElapsed,
    distanceCovered: element.frontmatter.distanceCovered,
    averagePace: element.frontmatter.averagePace,
    tags: element.frontmatter.tags,
    content: element.rawContent(),
  };
});
---

<div class="tw-container tw-mx-auto">
  <h2 class="tw-font-black tw-text-4xl tw-mb-2 tw-mt-8">Previous Runs</h2>
  <div class="tw-grid md:tw-grid-cols-2 tw-gap-6">
    {
      previousRuns.map((run) => (
        <RunDetails run={run}>{run.content}</RunDetails>
      ))
    }
  </div>
</div>
