---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
const { pageTitle } = Astro.props;
const favicon =
  Astro.url.hostname === "iusiel.github.io"
    ? "/run-journal/favicon.svg"
    : "/favicon.svg";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href={favicon} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {pageTitle}
      {pageTitle && "|"} Run Journal
    </title>
  </head>
  <body>
    <div class="tw-grid tw-grid-rows-mainLayoutGrid">
      <Navigation />
      <slot />
    </div>

    <script>
      if (window.location.hostname === "iusiel.github.io") {
        document.querySelectorAll("a").forEach((element) => {
          element.setAttribute(
            "href",
            `/run-journal${element.getAttribute("href")}`
          );
        });
      }
    </script>
  </body>
</html>
